<div class="form-group">
  <label for="field">
    Field
  </label>

  <ui-select
    name="field"
    required
    ng-model="params.field">
    <ui-select-match placeholder="Select field">{{$select.selected.displayName}}</ui-select-match>
    <ui-select-choices repeat="field in aggConfig.vis.indexPattern.fields.raw
      | fieldType: aggParam.filterFieldTypes
      | matchAny: [{ indexed: true }, { scripted: true }]
      | orderBy: ['type', 'name']
      | filter: $select.search">
      <span>{{ field.displayName }}</span>
    </ui-select-choices>
  </ui-select>
</div>